:root {
  --margin: 20px;
  --color: #ff4d4d;
  --color2: #002b56;
  --color3: #b43636;
  --white: white;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  letter-spacing: 1px;
}
*::selection {
  background-color: var(--white);
  color: var(--color);
}
body {
  font-family: "Righteous", sans-serif;
  background-color: var(--color);
}
.container {
  width: 90vw;
  max-width: 300px;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  overflow: hidden;
}
.header {
  margin: var(--margin) auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.header i {
  color: var(--white);
  cursor: pointer;
}
#content {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 70%);
  top: 0;
  left: 0;
  z-index: 999;
  padding: 20px 0 0;
  margin-left: -100%;
  transition: margin-left 0.4s;
  -webkit-transition: margin-left 0.4s;
  -moz-transition: margin-left 0.4s;
  -ms-transition: margin-left 0.4s;
  -o-transition: margin-left 0.4s;
  overflow: hidden;
}
#content i {
  color: var(--white);
  margin: 5px 0 10px 15px;
  cursor: pointer;
}
#content hr {
  border: 1px solid var(--white);
}
#content-details {
  overflow: auto;
  height: calc(100% - 31px);
  scroll-behavior: smooth;
}
#content-details::-webkit-scrollbar {
  display: none;
}
#content-details > div {
  width: 100%;
  color: var(--white);
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.2s;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  -ms-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
}
#content-details > div:hover {
  background-color: #ff4d4d;
}
#content-details > div div p:nth-child(1) {
  font-size: 18px;
}
#content-details > div div p:nth-child(2) {
  font-size: 14px;
}
.content-name {
  font-size: 20px;
}
.content-artist {
  font-size: 12px;
}
.content-duration {
  font-size: 16px;
}
.track-details {
  display: grid;
  grid-template-columns: 35px 1fr auto;
  align-items: center;
}
.track-details span {
  font-size: 20px;
}
.from {
  width: fit-content;
}
a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}
.from i {
  position: relative;
  top: -7px;
  right: 1px;
  font-size: 12px;
  color: var(--white);
}
#index {
  text-align: center;
  color: var(--white);
  margin-bottom: 10px;
}
.name {
  margin: 0 auto 5px;
  width: fit-content;
  color: var(--white);
  letter-spacing: 3px;
  font-size: 40px;
}
h2.name {
  margin: 0 auto var(--margin);
  font-size: 18px;
}
#cd {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: var(--margin);
}
#cd i {
  color: var(--white);
  font-size: 150px;
  animation: rotate360 2.5s linear infinite;
  -webkit-animation: rotate360 2.5s linear infinite;
  animation-play-state: paused;
}
@keyframes rotate360 {
  to {
    transform: rotate(1turn);
    -webkit-transform: rotate(1turn);
    -moz-transform: rotate(1turn);
    -ms-transform: rotate(1turn);
    -o-transform: rotate(1turn);
  }
}
.length {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-bottom: var(--margin);
}
.length input {
  width: 60%;
  cursor: pointer;
}
.length span {
  font-size: 12px;
  color: var(--white);
  width: 35px;
  display: flex;
  justify-content: center;
}
.volume {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: var(--margin);
  gap: 10px;
  color: var(--white);
}
.volume input {
  width: 40%;
  cursor: pointer;
}
.volume i {
  cursor: pointer;
}
.volume span {
  font-size: 12px;
  background-color: var(--white);
  color: var(--color);
  border-radius: 8px;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.play {
  width: 40px;
  height: 40px;
  background-color: var(--white);
  border-radius: 50%;
  color: var(--color);
  position: relative;
  cursor: pointer;
}
.play i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.options {
  max-width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
  color: var(--white);
  margin-bottom: var(--margin);
}
.options i {
  cursor: pointer;
  font-size: 18px;
  transition: color 1s;
  -webkit-transition: color 1s;
  -moz-transition: color 1s;
  -ms-transition: color 1s;
  -o-transition: color 1s;
}
input[type="range"] {
  appearance: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  background-color: var(--white);
  height: 5px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  background-color: var(--white);
  border: 1px solid var(--color);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-top: -3.5px;
}
input[type="range"]::-moz-range-track {
  background-color: var(--white);
  height: 5px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
input[type="range"]::-moz-range-thumb {
  appearance: none;
  background-color: var(--white);
  border: 1px solid var(--color);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-top: -3.5px;
}
.rotate360 {
  transform: rotate(1turn);
  -webkit-transform: rotate(1turn);
  -moz-transform: rotate(1turn);
  -ms-transform: rotate(1turn);
  -o-transform: rotate(1turn);
}
.active {
  color: var(--color2);
}
.inf {
  margin-bottom: 10px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#copyright {
  display: block;
  width: fit-content;
  margin: auto;
  width: 100px;
}
#copyright img {
  max-width: 100%;
}
#loading {
  display: none;
  margin: auto;
}
@keyframes loading-animation {
  to {
    transform: translate(0, -15px);
    -webkit-transform: translate(0, -15px);
    -moz-transform: translate(0, -15px);
    -ms-transform: translate(0, -15px);
    -o-transform: translate(0, -15px);
    opacity: 25%;
  }
}
.load {
  display: flex;
  justify-content: center;
}
.load div {
  width: 20px;
  height: 20px;
  margin: 0 5px;
  background-color: var(--white);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  animation-name: loading-animation;
  animation-duration: 0.3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.two {
  animation-delay: 0.1s;
}
.three {
  animation-delay: 0.2s;
}
@media (max-width: 767px) {
  :root {
    --margin: 0;
  }
  .container {
    width: 100vw;
    height: 100dvh;
    max-width: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    overflow: visible;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
  }
  .header {
    width: 100%;
    margin-top: 20px;
  }
  .header > i {
    font-size: 30px;
  }
  .header a {
    font-size: 20px;
  }
  #content {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
  }
  #content i {
    font-size: 30px;
  }
  .content-name {
    font-size: 24px;
  }
  .content-artist {
    font-size: 18px;
  }
  .content-duration {
    font-size: 20px;
  }
  #content-details {
    height: calc(100% - 46px);
  }
  #cd i {
    font-size: 30vh;
  }
  #index {
    font-size: 20px;
  }
  .details h1 {
    font-size: 60px;
  }
  .details h2 {
    font-size: 30px;
  }
  .length {
    width: 100%;
    gap: 20px;
  }
  .length span {
    font-size: 18px;
  }
  .volume {
    width: 100%;
  }
  .volume i {
    font-size: 24px;
  }
  .volume span {
    width: 50px;
    height: 36px;
    font-size: 22px;
  }
  .options {
    width: 100%;
    margin: 0;
  }
  .options div {
    width: 60px;
    height: 60px;
  }
  .options i {
    font-size: 28px;
  }
  input[type="range"]::-webkit-slider-runnable-track {
    height: 8px;
  }
  input[type="range"]::-webkit-slider-thumb {
    height: 15px;
    width: 15px;
  }
  input[type="range"]::-moz-range-track {
    height: 8px;
  }
  input[type="range"]::-moz-range-thumb {
    height: 15px;
    width: 15px;
  }
  .inf {
    margin-bottom: 20px;
  }
  #copyright {
    margin: 0;
    width: 150px;
  }
  #loading {
    margin: 0;
  }
}
